body
{
    background: url('../images/trivia.gif') no-repeat center center fixed;
    background-size: cover;
}
#startButton1
{
    background-color:white;
    color:black;
    width:500px;
    height: 30px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:25px;
}
p{
    position: fixed;
    top:250px;
    left:460px;
   display: none;
    /* margin-top: 180px;
    margin-left:700px;
    margin-right:auto; */
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: bold;
    color:darkblue;
    width:500px;

}
#childDiv{
    position: fixed;
    top:350px;
    left:500px;
    color:gold;
   display: none;
    width: 60%;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bolder;
    font-style:italic;
}
#mainDiv
{
    position: fixed;
    left:500px;
    top:525px;
    display:inline-block;
    width:500px;
    height:40px;
   
}
#imageDiv
{
    position: fixed;
    top:350px;
    left:500px;
    display: none;
    color:red;
    font-style: italic;
}
#resultDiv
{
    position: fixed;
    top:350px;
    left:525px;
    display: none;
    color:yellow;
    font-style:italic;
    font-size:25px;
}
#button1
{
    background-color:darkblue;
    color:white;
    width:200px;
    height: 30px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:20px;
    font-style: italic;
}
#startOverButton
{
    background-color:darkblue;
    color:white;
    width:250px;
    height: 30px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:22px;
    font-style: italic;
}
#justImage1
{
    position:fixed;
    top:0px;
    left:400px;
    background-image: url("../images/bgimage.png");
    display:none;
    width:450px;
    height: 280px;

}
