body
{
    background: url('../images/trivia.gif') no-repeat center center fixed;
    background-size: cover;
}
#startButton1
{
    background-color:white;
    color:black;
    width:500px;
    height: 30px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:25px;
}
p{
   display: none;
    margin-top: 180px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: bold;
    color:darkblue;


}
#childDiv{
    color:gold;
   display: none;
    margin-top:-40px;
    margin-left:525px;
    margin-right:auto;
    width: 60%;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bolder;
    font-style:italic;
}
#mainDiv
{
    position: fixed;
    left:500px;
    top:525px;
    display:inline-block;
    width:500px;
    height:40px;
   
}
#imageDiv
{
    display: none;
    margin-top:15px;
    margin-left:500px;
    margin-right:auto; 
    color:darkblue;
    font-style: italic;
}
#resultDiv
{
    display: none;
    margin-top:30px;
    margin-left:525px;
    margin-right:auto; 
    color:palevioletred;
    font-style:italic;
    font-size:25px;
}
#button1
{
    background-color:darkblue;
    color:white;
    width:200px;
    height: 30px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:20px;
    font-style: italic;
}
#startOverButton
{
    background-color:darkblue;
    color:white;
    width:250px;
    height: 30px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:22px;
    font-style: italic;
}
